@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

h1 {
  font-weight: 300;
  margin-bottom: 2rem;
  position: relative;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;

  min-width: 100%;

  font-family: 'Nunito', sans-serif;
}

.main {
  padding: 3rem;
  margin: 4rem auto;

  min-width: 420px;
  min-height: 40vh;

  background: #1d1d1dde;

  box-shadow: 5px 5px 15px rgba(156, 152, 152, 0.2);
  border-radius: 12px;
}

.input-campo {
  position: relative;
  margin-bottom: 1.5rem;
  outline: none;
}

.p-button {
  margin-top: 0.5rem;
  padding: 0.4rem;
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 1rem;
  font-weight: 600;
  color: rgb(236, 234, 234);

  border-radius: 8px;
  border: 3px solid #9b8775;

  background-color: #1D1D1D;

  transition: 0.3s ease;
}

.p-button:enabled:hover {
  border: 3px solid #9b8775;
}

button:hover {
  border: 3px solid #9b9895;

  background-color: #2b2929 !important;
}

button:hover:disabled {

  border: 3px solid #9b8775;

  background-color: #1D1D1D !important;
}



@media(max-width:453px) {

  .main {
    min-width: 300px;
    min-height: 40vh;
  }
}

@media(max-width:374px) {

  .main {
    padding: 2rem;
    margin: 2rem auto;
    width: 300px;
    min-height: 40vh;
  }
}

@media(max-width:297px) {

  .main {
    padding: 2rem;
    margin: 4rem auto;
    width: 400px;
    min-height: 50vh;
  }

  .container {
    display: flex;
    justify-content: center;
    text-align: center;

    min-width: 10%;

    font-family: 'Nunito', sans-serif;
  }
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 2px solid rgb(206, 135, 135);
}
